* {
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    font-family: "Black Ops One", system-ui;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    max-width: 100vmin;
    text-align: center;
}

button {
    font-family: "Black Ops One", system-ui;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.highlight {
    background-color: green !important;
}
.hit {
    background-color: red !important;
}

.selected-ship {
    background: rgb(176, 176, 176);
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px black;
}

.ships > div:hover {
    cursor: pointer;
}

.confirm-message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
}

main {
    position: relative;
    display: flex;
    gap: 25px;
    transition: all 3s ease-in;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(11, 4vmin);
    grid-template-rows: repeat(11, 4vmin);
}
.game-board > div {
    border: 1px solid black;
}

.game-board > .header {
    border: none;
    align-self: center;
    justify-self: center;
}

.ships-to-place {
    /* position: absolute; */
    /* bottom: -20vmin; */
    /* left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ships {
    display: flex;
    gap: 25px;
}

.hidden {
    display: none;
}

@keyframes hide-content-left {
    0% {
        opacity: 100%;
        transform: translateX(0);
    }
    20% {
        opacity: 25%;
    }
    80% {
        opacity: 50%;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes hide-content-right {
    0% {
        opacity: 100%;
        transform: translateX(0);
    }
    20% {
        opacity: 25%;
    }
    80% {
        opacity: 50%;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes show-content-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    20% {
        opacity: 25%;
    }
    80% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}
@keyframes show-content-left {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    20% {
        opacity: 25%;
    }
    80% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
        transform: translateX(100%);
    }
}

.hide-left {
    animation: hide-content-left 0.5s ease-in;
}
.hide-right {
    animation: hide-content-right 0.5s ease-in;
}

.show-left {
    animation: show-content-left 0.5s ease-in;
}
.show-right {
    animation: show-content-right 0.5s ease-in;
}

@keyframes flashing-tiles-v1 {
    0% {
        background-color: green;
    }
    10% {
        background-color: white;
    }
    20% {
        background-color: green;
    }
    30% {
        background-color: white;
    }
    50% {
        background-color: green;
    }
    60% {
        background-color: white;
    }
    80% {
        background-color: green;
    }
    90% {
        background-color: white;
    }
    100% {
        background-color: green;
    }
}

@keyframes flashing-tiles-v2 {
    0% {
        background-color: white;
    }
    10% {
        background-color: green;
    }
    20% {
        background-color: white;
    }
    30% {
        background-color: green;
    }
    50% {
        background-color: white;
    }
    60% {
        background-color: green;
    }
    80% {
        background-color: white;
    }
    90% {
        background-color: green;
    }
    100% {
        background-color: white;
    }
}

.flashing-v1 {
    animation: flashing-tiles-v1 8s infinite;
}

.flashing-v2 {
    animation: flashing-tiles-v2 8s infinite;
}

.margin-right {
    margin-right: 40vmin;
}

.container {
    width: 100%;
    height: 100%;
}
.confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
}
.confetti:nth-child(1) {
    background-color: #f2d74e;
    left: 10%;
    animation-delay: 0;
}
.confetti:nth-child(2) {
    background-color: #95c3de;
    left: 20%;
    animation-delay: -5s;
}
.confetti:nth-child(3) {
    background-color: #ff9a91;
    left: 30%;
    animation-delay: -3s;
}
.confetti:nth-child(4) {
    background-color: #f2d74e;
    left: 40%;
    animation-delay: -2.5s;
}
.confetti:nth-child(5) {
    background-color: #95c3de;
    left: 50%;
    animation-delay: -4s;
}
.confetti:nth-child(6) {
    background-color: #ff9a91;
    left: 60%;
    animation-delay: -6s;
}
.confetti:nth-child(7) {
    background-color: #f2d74e;
    left: 70%;
    animation-delay: -1.5s;
}
.confetti:nth-child(8) {
    background-color: #95c3de;
    left: 80%;
    animation-delay: -2s;
}
.confetti:nth-child(9) {
    background-color: #ff9a91;
    left: 90%;
    animation-delay: -3.5s;
}
.confetti:nth-child(10) {
    background-color: #f2d74e;
    left: 100%;
    animation-delay: -2.5s;
}

@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
        transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
}
